# collaborators can optionally add themselves here to indicate their availability for reviewing related PRs
# multiplie collaborators per item can be specified

/.devops/*.Dockerfile                   @ngxson
/.github/workflows/                     @CISC
/ci/                                    @ggerganov
/cmake/                                 @ggerganov
/common/CMakeLists.txt                  @ggerganov
/common/arg.*                           @ggerganov
/common/base64.hpp.*                    @ggerganov
/common/build-info.*                    @ggerganov
/common/common.*                        @ggerganov
/common/console.*                       @ggerganov
/common/llguidance.*                    @ggerganov
/common/log.*                           @ggerganov
/common/sampling.*                      @ggerganov
/common/speculative.*                   @ggerganov
/convert_*.py                           @CISC
/examples/batched/                      @ggerganov
/examples/batched.swift/                @ggerganov
/examples/convert-llama2c-to-ggml/      @ggerganov
/examples/deprecation-warning/          @ggerganov
/examples/embedding/                    @ggerganov
/examples/eval-callback/                @ggerganov
/examples/export-docs/                  @ggerganov
/examples/gen-docs/                     @ggerganov
/examples/gguf/                         @ggerganov
/examples/llama.android/                @ggerganov
/examples/llama.swiftui/                @ggerganov
/examples/llama.vim                     @ggerganov
/examples/lookahead/                    @ggerganov
/examples/lookup/                       @ggerganov
/examples/parallel/                     @ggerganov
/examples/passkey/                      @ggerganov
/examples/retrieval/                    @ggerganov
/examples/save-load-state/              @ggerganov
/examples/speculative/                  @ggerganov
/examples/speculative-simple/           @ggerganov
/ggml/src/ggml-common.h                 @ggerganov
/ggml/src/ggml-cpu/                     @ggerganov
/ggml/src/ggml-cuda/fattn*              @JohannesGaessler
/ggml/src/ggml-cuda/mmq.*               @JohannesGaessler
/ggml/src/ggml-cuda/mmvq.*              @JohannesGaessler
/ggml/src/ggml-impl.h                   @ggerganov
/ggml/src/ggml-include/                 @ggerganov
/ggml/src/ggml-metal/                   @ggerganov
/ggml/src/ggml-opt.cpp                  @JohannesGaessler
/ggml/src/ggml-quants.*                 @ggerganov
/ggml/src/ggml-threading.*              @ggerganov
/ggml/src/ggml-vulkan/                  @0cc4m
/ggml/src/ggml-zdnn/                    @taronaeo
/ggml/src/ggml.c                        @ggerganov
/ggml/src/ggml.cpp                      @ggerganov
/ggml/src/gguf.cpp                      @JohannesGaessler
/gguf-py/                               @CISC
/media/                                 @ggerganov
/src/                                   @ggerganov
/src/llama-adapter.*                    @CISC
/src/llama-arch.*                       @CISC
/src/llama-chat.*                       @ngxson
/src/llama-graph.*                      @CISC
/src/llama-model.*                      @CISC
/src/llama-vocab.*                      @CISC
/tests/                                 @ggerganov
/tools/batched-bench/                   @ggerganov
/tools/main/                            @ggerganov
/tools/mtmd/                            @ngxson
/tools/perplexity/                      @ggerganov
/tools/quantize/                        @ggerganov
/tools/server/*                         @ngxson @ggerganov # no subdir
/tools/server/webui/                    @allozaur
/tools/tokenize/                        @ggerganov
/tools/tts/                             @ggerganov
/vendor/                                @ggerganov
AUTHORS                                 @ggerganov
CMakeLists.txt                          @ggerganov
CONTRIBUTING.md                         @ggerganov
LICENSE                                 @ggerganov
README.md                               @ggerganov
SECURITY.md                             @ggerganov
requirements*.txt                       @CISC
