/**
 * the styling of the simplechat web frontend
 * by Humans for All
 */

:root {
    --background-color: #f4f4f9;
    --background-color-contrast-vlight: #e8e8e8;
}

body {
    background-color: var(--background-color);
    font-family: 'Inter', 'Segoe UI', Helvetica, Arial, sans-serif;
}
#fullbody {
    height: 97vh;
}

#heading {
    background: linear-gradient(135deg, var(--background-color) 0%, lightblue 100%);
    margin: 0;
}

.session-selected {
    background-color: lightblue;
}

.role-system {
    background: linear-gradient(135deg, lightblue 0%, var(--background-color) 100%);
}
.role-user {
    background: linear-gradient(135deg, #D0F0FF 0%, var(--background-color) 100%);
}
.role-assistant {
    text-align: initial;
    background: linear-gradient(135deg, #F7FAFC 0%, var(--background-color) 100%)
}
.role-tool {
    background: linear-gradient(135deg, var(--background-color) 0%, lightyellow 100%);
}
.role-trim {
    background: linear-gradient(135deg, lightpink 0%, transparent 100%);
}

#UsageNote {
    margin: 0.0vmin;
}
.restore-details {
    margin: 0.0vmin;
}

.chat-message {
    display: flex;
    border-radius: 1vmin;
    margin-bottom: 2vh;
    border: none;
    padding: 0.4vmin;
    padding-left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.chat-message:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.chat-message-role {
    border: none;
    writing-mode: vertical-lr;
    padding-inline: 1vmin;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.chat-message-reasoning {
    border-block-style: dashed;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}
.chat-message-toolcall {
    border-style: solid;
    border-color: grey;
    border-width: thin;
    padding: 0.5vmin;
}
.chat-message-toolcall-arg {
    border-style: solid;
    border-color: grey;
    border-width: thin;
    padding: inherit;
}
.chat-message-content {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}
.chat-message-content-live {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}
.chat-message-img {
    max-width: fit-content;
    max-height: 20vh;
}
.user-in-img {
    max-width: 20vmin;
    max-height: 20vmin;
}
#popover-chatmsg {
    position:fixed;
    /*
    position-area: span-bottom center;
    */
    inset-block-start: anchor(start);
    inset-inline-start: anchor(center);
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-width: 0;
}
#popover-chatmsg button {
    padding: 0;
    border-radius: 0.5vmin;
    border-color: lightgray;
    min-width: fit-content;
    max-width: fit-content;
    min-height: fit-content;
    max-height: fit-content;
}


.gridx2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom-style: dotted;
    border-bottom-width: thin;
    border-bottom-color: lightblue;
}

.flex-grow {
    flex-grow: 1;
}
.flex-nogrow {
    flex-grow: 0;
}
.float-right {
    float: right;
}

#chat-div {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 40vh;
}
#user-in {
    background-color: #ffffff;
    padding: 1.6vmin 2vmin;
    border-radius: 2.5vmin;
    field-sizing: content;
    max-height: 16vh;
}
#user-in[data-role="TOOL.TEMP"] {
    background-color: lightyellow;
}
#user-in-div button {
    padding-inline: 2vmin;
    border-radius: 2vmin;
    min-height: 3vmin;
}
button {
    padding-inline: 2vmin;
    border-radius: 1vmin;
    min-height: 3vmin;
    border-color: #80A0E0;
}

.sameline {
    display: flex;
    flex-direction: row;
}
.samecolumn {
    display: flex;
    flex-direction: column;
}

.ul1 {
    padding-inline-start: 2vw;
}
.ul2 {
    padding-inline-start: 2vw;
}


.DivObjPropsInfoL0 {
    margin: 0%;
}
[class^=SectionObjPropsInfoL] {
    margin-left: 2vmin;
}


* {
    margin: 0.6vmin;
    scrollbar-color: var(--background-color-contrast-vlight) var(--background-color);
    scrollbar-width: thin;
    border-radius: 0.5rem;
}


@media print {

    :root {
        --background-color: white;
    }

    #fullbody {
        height: auto;
    }

    .chat-message {
        display:inherit;
        padding: 0.4vmin;
        border-radius: 1vmin;
        margin-bottom: 2vh;
        border: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    }
    .chat-message-role {
        writing-mode:inherit;
        max-width: fit-content;
        padding-inline: 1vmin;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }


}
